.table1{
	margin-left: 30%;
	border: 1px solid #808451;;

}
.checkbox1{
	width: 80%;

}
.tr1:hover{
 	background-color: #33FF00;
}
td:hover{
	
}
.td1:hover{
	
}
.a1{
	margin-left: 30%;
}
.td1{
	width: 10%;
}
