h3{
	color: red;
	font-size: 22px;
}
.tennc>document.write{
	color: red;
}
.tennc{
	margin-right: 10%;
	background-color: red;
}
.hw{
	text-align: center;
	color: #00FF00;
	font-size: 40px;
	font-style: vellergo;
}
.hr3{
	float: left;
	width: 10%;
	color: black;
}